.messageWrapperLeft{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

.messageWrapperRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}

.msg{
    margin-top: 10px;
    font-size: 1.1rem;
    color: white;
}
.displayName {
    color: rgba(195,51,100,1);
    font-weight: 800;
}

.displayDate {
    color: rgba(195,51,100,0.85);
    margin-left: 10px;
    font-size: 0.9rem;
}

.nameWrapper {
    display: flex;
}

@media screen and (max-width: 574px) {
    .msg {
        font-size: 1rem;
        max-width: 324px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}